[submodule "DataVisualization/dv-project-f1"]
	path = DataVisualization/dv-project-f1
	url = https://github.com/Kornimate/dv-project-f1.git
[submodule "HCAI/HCAI"]
	path = HCAI/HCAI
	url = https://github.com/Kornimate/HCAI.git
