body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    margin: 0;

}

#grid-container {
    display: grid;
    grid-template: 0.5fr 13.5fr 1fr / 0.5fr 2fr 6fr 3fr;
}

#sidebar {
    background-color: rgb(30,31,34);
    grid-row: 1 / 4;
    grid-column: 1 /2;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discord-logo, .group-image {
    height: 3rem;
    border-radius: 25%;
}

hr {
    width: 40%;
    border: 1px solid rgb(50,50,56);
}

#find-convo {
    background-color: rgb(43,45,49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    border-bottom: 2px solid rgb(34,37,40);
}

#find-convo > input, #search {
    background-color: rgb(30,31,34);
    color: rgb(143,149,157);
    border: none;
    border-radius: 2px;
    width: 90%;
    padding: 5px;
}

#conversations {
    background-color: rgb(43,45,49);
}

#menu {
    padding: 1rem
}

.menu-item {
    display: flex;
    align-items: center;
    color: rgb(143,149,157);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.menu-item > span {
    width: 15%;
}

.menu-img {
    height: 2rem;
}

#header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: rgb(143,149,157);
    padding: 0 1.5rem;
    margin-bottom: 0.5rem;
}

#dms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dms-item {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
}

.dms-img, #user-img {
    height: 3rem;
}

.image-container {
    width: 20%;
    display: flex;
    justify-content: center;
}

.image-container > img {
    border-radius: 10px;
}

.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    color: rgb(143,149,157);
}

#user {
    grid-column: 2 /3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: rgb(35,36,40);
}

#user > .user-container {
    color: white;
}

#user > .user-container > .name {
    font-weight: 600;
}

.user-icons {
    display: flex;
    justify-content: flex-end;
    margin-left: 0.5rem;
}

.user-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icons > img,  .nav-icons > img {
    height: 2rem;
}

.user-image-container {
    display: flex;
}

#bar {
    grid-column: 3 / 5;
    background-color: rgb(49, 51,56);
    border-bottom: 1px solid rgb(41,43,47);
    display: flex;
    justify-content: space-between;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-user {
    display: flex;
    width: 30%
}

.nav-user > .user-container > .name {
    font-weight: 600;
    color: rgb(244,245,247);
}

#chat {
    grid-row: 2 / 4;
    grid-column: 3/4;
    background-color: rgb(49, 51,56);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

#chat-user-container img {
    position: relative;
    height: 5rem;
    top: 1rem;
}

#chat-user {
    padding: 0 0.5rem;
}

#chat-user > h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0.1rem;
    position: relative;
    top: 0.5rem;
}

#chat-user > h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.5rem;
}

#chat-user > p {
    font-size: 0.8rem;
    color: rgb(143,149,157);
}

#message-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#message {
    background-color: rgb(56,58,63);
    display: grid;
    grid-template-columns: 1fr 8fr 9fr;
    border-radius: 5px;
    padding: 0.2rem 0.8rem;
}

#plus-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-container img {
    height: 2rem;
    border-radius: 5px;
}

#message input {
    border: none;
    background-color: rgb(56,58,63);
}

#message-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#shapes {
    background-color: rgb(56,58,63);
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
}

#profile {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#red-section {
    background-color: rgb(142, 41, 36);
    display: flex;
    justify-content: flex-end;
}

#red-section img {
    height: 2rem;
}

#grey-section {
    background-color: rgb(35,36,40);
}

#grey-user {
    color: white;
    padding: 0.5rem 0.8rem;
}

#grey-user h2 {
    font-size: 1.2rem;
}

#grey-user h3 {
    font-size: 0.8rem;
    font-weight: 400;
}

#info-container {
    padding: 1rem;
}

#member-container, #server-container {
    background-color: rgb(17,18,20);
    color: white;
    border-radius: 10px;
    padding: 0.2rem 0.8rem;
    margin-bottom: 1rem;
}

#server-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#member {
    font-size: 0.6rem;
    font-weight: 600;
}

#date  {
    font-size: 0.6rem;
}

#mutual {
    font-size: 0.8rem;
}

#view-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35,36,40);
    border-top: 1px solid rgb(48,49,54);
    color: rgb(143,149,157);
    font-size: 0.8rem;
}